[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
ipykernel = "*"
black = "*"
seaborn = "*"
openpyxl = "*"
python-dotenv = "*"
requests = "*"
dash = "*"
dash-bootstrap-components = "*"
plotly = "*"
plotly-express = "*"
nbformat = "*"
numexpr = "*"

[dev-packages]

[requires]
python_version = "3.9"
